.checkbox {
    display: flex;
    
}

.checkbox__wrapper {

    width: 24px;
    height: 24px;
    background: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}

.checkbox__wrapper_active {
    background-position: center;
    background-size: 20px;
    background-image: url('../../../images/checkbox_active.svg');
}

.checkbox__field {
    opacity: 0;
}


.chechbox__name {
    margin-left: 16px;
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}