.toggle {
    display: flex;
}

.toggle__switcher {
    width: 49px;
    height: 24px;
    border: 1px solid #CCCCCC;
    border-radius: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #7A5CFA;
    position: relative;
}


.toggle__switcher_deactive {
    background-color: #fff;
}

.toggle__shape-round {
    width: 16px;
    height: 16px;

    border: 1px solid #CCCCCC;
    background-color: #fff;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 4px;
    /* right: auto; */
    transform: translateY(-50%);
    transition: all 0.5s;
}


.toggle__shape-round_deactive {
    background-color: #F4F4F4;
    /* right: 4px; */
    left: 28px;
}



.toggle__field {
    opacity: 0; 
}

.toggle__name {
    margin-left: 16px;
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    color: #666666;
}