form {
    padding: 96px 98px 92px;
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: space-between;
    row-gap: 32px;

    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

@media all and (min-width: 767px) and (max-width: 1024px) {
    form {
        padding: 96px 70px 92px;
    }
  }


@media all and (min-width: 650px) and (max-width: 767px) {
    form {
        padding: 86px 60px 82px;
    }
}  

@media all and (min-width: 550px) and (max-width: 650px) {
    form {
        padding: 76px 40px 72px;
    }
} 

@media all and (min-width: 424px) and (max-width: 550px) {
    form {
        padding: 60px 20px 55px;
    }

    .form-buttons {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
} 

@media all and (min-width: 320px) and (max-width: 424px) {
    form {
        padding: 50px 10px 40px;
    }
    
    .form-buttons {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}