.input {
    /* margin-bottom: 32px; */
}

.input__name {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    
}

.input__field {
    margin: 8px 0;
    padding: 16px;
    width: 100%;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    border: none;
    border-radius: 8px;
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #666666;
}

.input__field:focus {
    outline: 2px solid #7A5CFA;
    box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.5);
}



.input__field::-moz-placeholder {
    color: #666666;
    opacity: 0.8;
    letter-spacing: 0px;
}

.input__field::-webkit-input-placeholder {
    color: #666666;
    opacity: 0.8;
    letter-spacing: 0px;
}

.input__field::-ms-input-placeholder {
    color: #666666;
    opacity: 0.8;
    letter-spacing: 0px;
}



.input__sub-message {
    visibility: hidden;
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.input__sub-message_error {
    visibility: visible;
    color: red;
}